<div class="container">
  <div class="py-5 text-center">
    <h1>Welcome to the requestator machine</h1>
    <h2>An API automatic pollster</h2>
  </div>
  <div class="row justify-content-around">
    <div class="col-4 m-4">

      <div class="my-3">
        <label for="formFile" class="form-label" *ngIf="!fileText">Please, load script</label>
        <input class="form-control" type="file" accept='text/plain' #formFile (change)="readFile($event)">
      </div>

      <div class="input-group my-3" *ngIf="fileText">
        <span class="input-group-text" id="basic-addon3">URL BASE</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" disabled readonly
          [value]="urlBase">
      </div>

      <div class="input-group my-3" *ngIf="fileText">
        <span class="input-group-text" id="basic-addon3">With Credentials</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" disabled readonly
          [value]="withCredentials">
      </div>

      <a class="btn btn-success mx-2 my-2" (click)="runTests2()" *ngIf="fileText">
        <i class="lni lni-play"></i> Run Tests
      </a>

      <a class="btn btn-danger mx-2 my-2" (click)="reset()" *ngIf="fileText">
        <i class="lni lni-brush"></i> RESET
      </a>

      <button type="button" class="btn btn-primary mx-2 my-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="showScript()" *ngIf="fileText">
        <i class="lni lni-empty-file"></i> Show Script
      </button>

    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-6 m-4">
      <div class="card"  *ngIf="nCounter>0">
        <div class="card-header">
          <h3>Results</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div [innerHTML]="output" style="font-size: 0.8em"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">REQUESTATOR (showing script)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <pre>{{JSON.stringify(jsonParsed,undefined,2)}}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>